@media screen and (max-width : 780px){

	.video{

		min-width: 100%;
	}
	#videoInfo,#videoInfo2{
		min-width: 100%;

	}


}


#videoName {
	font-size:18;
	font-weight:700
}

#channelName {
	padding-top:20;
}



#channelPic {
	height:50;
	width:60;
	float:left;
}

#cName {
	float:left;
	font-weight:500;
	padding-left: 5;
}

#viewCount{
	float:right;
	font-size:14;

}

#publishedAt{
	padding:10;
}

#vidDesc{
	padding:10;
}

body {
	background-color:#F8F8F8
}

#youLogo {
	height : 100;
	width:120;

}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}


body.loading {
    overflow: hidden;   
}


body.loading .modal {
    display: block;
}


#searchButton {
	height : 30;
	width:70;
}

#searchTerm {
	margin-left:30;
	height:30;
	width:550;
}

#videoInfo {
	padding-bottom:10;
	margin-top:18;
	background-color:white;
	width : 65%;
	float:left;
}

#videoInfo2{
	margin-top:18;
	background-color:white;
	width : 65%;
	float:left;
}

#navItems li{
	display: inline;
}