<html>
<head>
	<style>
		a:link {color: black;text-decoration:none}
	</style>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"> </script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://localhost:3000/images/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/javascript">
       jQuery(document).ready(function()
        {
                var d = new Date();
                d = d.getTime();
                if (jQuery('#reloadValue').val().length == 0)
                {
                        jQuery('#reloadValue').val(d);
                        jQuery('body').show();
                }
                else
                {
                        jQuery('#reloadValue').val('');
                        location.reload();
                }
        });
   </script>
</head>
	<body>
		<nav class="navbar navbar-default" style ="position:fixed;width :100%">
				
		    	<a href ="http://localhost:3000"><img id ="youLogo" src = "http://localhost:3000/images/youtubeLogo.png"> </a>
		        <input type = "text" id ="searchTerm">
		        <img id ="searchButton" src = "http://localhost:3000/images/searchButton.png"> 

		</nav>

		<div class = "container">


		<table style ="margin:2;background-color:#F8F8F8" id ="searchList">
		</table>


	</div>


	<input id="reloadValue" type="hidden" name="reloadValue" value="" />
	</body>

	<script>
		$(function(){
			$.ajax({
					type : 'GET',
					url : '/search?q=',
					success : function(data){
						populateSearchlist($("#searchList"), data);
						oldQuery = data[0].queryVal;
						$("#searchTerm").val(data[0].queryVal);

						
					}


			});
			function populateSearchlist(select, data) {
		    select.html('');
		    var items = [];
		    $.each(data, function (id, option) {
		        items.push('<tr>  <td style ="padding : 2">	 <a href="/video?vidId="> <img src =' + option.snippet.thumbnails.default.url + '> </a></td> <td style ="float:left;padding:2;"> <a href="/video?vidId=' + option.id.videoId +'&flag=getPage"> <ul style = "list-style-type :none;font-family:Arial;"> <li style ="color:#498bf5;"> ' + option.snippet.title +  '</li> <li style ="font-size:14;">' + option.snippet.channelTitle + '</li> <li style ="font-size:14;">' + option.snippet.description + '</li> </ul>' +  ' </a></td> </tr>');
		    });  
		    select.append(items.join(''));
			
			}

			$("#searchButton").on('click',function(){
				var query = $("#searchTerm").val();
				console.log(query);
				$.ajax({
					type : 'GET',
					url : '/search?q=' + query +'&source=search',
					success : function(data){
						//history.pushState(null, null, "http://localhost:3000/search?q=" +oldQuery);
						window.location.href = "/search?q=" + query;
				}


				});
			

		});

		

	});
	</script>

</html>

